.ttt-board {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1vw;
    justify-content: center;
    align-content: center;
    user-select: none;
    font-family: sans-serif;
}

.ttt-board div {
    background-color: lightskyblue;
    font-size: 16vw;
    width: 26vw;
    height: 26vw;
    display: grid;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 2px 2px 7px gray;
}

@keyframes ttt-won-effect {
    from {
        background-color: lightskyblue;
        color: black;
    }

    to {
        background-color: pink;
        color: red;
    }
}

.ttt-won-line {
    animation-name: ttt-won-effect;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.ttt-ending-nofify {
    font-size: 8vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    cursor: pointer;
    width: 36vw;
    height: 10vw;
    line-height: 10vw;
    padding: 2vw 0;
    background-color: rgba(255, 255, 255, 0.8);
    color: darkblue;
    text-align: center;
    user-select: none;
    border-radius: 5px;
}


@media (min-width: 600px) {

    .ttt-board {
        grid-gap: 10px;
    }

    .ttt-board div {
        font-size: 90px;
        width: 160px;
        height: 160px;
    }

    .ttt-ending-nofify {
        font-size: 50px;
        height: 60px;
        line-height: 60px;
        width: 250px;
    }
}