
/*---------------------Results------------------------*/
.ttt-result-label, .ttt-result-value {
    display: inline-block;
    padding: 0.3em;
    margin: 3px;
}

.ttt-result-label {
    width: 2em;
    background-color: transparent;
    color: darkblue;
}

.ttt-result-value {
    width: 3.2em;
    text-align: center;
    background-color: steelblue;
    color: white;
    font-weight: bold;
}

.ttt-result {
    margin-bottom: 10px;
    float: left;
}

/*---------------------Game board------------------------*/
#board {
    clear: both;
    position: relative;
}

.ttt-board {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0.5vw;
    justify-content: center;
    align-content: center;
    background-color: lightyellow;
    user-select: none;
    font-family: sans-serif;
}

.ttt-board div {
    background-color: lightskyblue;
    font-size: 14vw;
    width: 22vw;
    height: 22vw;
    display: grid;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    border-radius: 5px;
}

@keyframes ttt-won-effect {
    from {
            background-color: lightskyblue;
            color: black;
        }
    to {
            background-color: pink;
            color: red;
        }
}

.ttt-won-line {
    animation-name: ttt-won-effect;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

.ttt-ending-nofify{
    font-size: 8vw;
    position: absolute;
    cursor: pointer;
    width: 36vw;
    left: 29vw;
    height: 10vw;
    line-height: 10vw;
    top: 26vw;
    padding: 2vw 0;
    background-color:rgba(255, 255, 255, 0.8);
    color: darkblue;
    text-align: center;
    user-select: none;
    border-radius: 5px;
}

/*---------------------Settings------------------------*/
.ttt-settings-option {
    margin-top: 1em;
    float: left;
    user-select: none;
}

.ttt-settings-label{
    color: darkblue;
}

.ttt-settings-value {
    display: inline-block;
    width: 4.7em;
    padding: 0.5em 0;
    margin: 0.3em;
    background-color: lightgray;
    text-align: center;
    cursor: pointer;
}

.ttt-settings-value[data-selected] {
    background-color: lightblue;
}

.ttt-settings-value:hover {
    background-color: cadetblue;
}

.ttt-settings-apply {
    width: 4em;
    padding: 0.5em 2em;
    margin-top: 2.5em;
    margin-left: 0.3em;
    float: left;
    background-color: darkseagreen;
    text-align: center;
    cursor: pointer;
}

.ttt-settings-apply:hover {
    background-color: lightgreen;
}

@media (min-width: 768px) { 

    .ttt-board {
        grid-gap: 10px;
    }

    .ttt-board div {
        font-size: 90px;
        width: 160px;
        height: 160px;
    }

    .ttt-ending-nofify {
        font-size: 50px;
        height: 60px;
        line-height: 60px;
        top: 190px;        
        width: 250px;
        left: calc(50% - 125px);
    }
}

#about {
    clear: both; 
    float: right; 
    color: gray;
    font-size: small;
}