.ttt-board {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1vw;
    justify-content: center;
    align-content: center;
    background-color: lightgray;
    user-select: none;
    font-family: sans-serif;
}

.ttt-board div {
    background-color: lightskyblue;
    font-size: 10vw;
    width: 15vw;
    height: 15vw;
    display: grid;
    justify-content: center;
    align-content: center;
    cursor: pointer;
}

.ttt-settings-option{
    font-size: 2vw;
    background-color: lightgray;
    width: 10vw;
    margin: 5px;
    padding: 0.5vw;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    user-select: none;
}

.ttt-settings-option:hover{
    background-color: cadetblue;
}


.ttt-settings-label{
    margin-top: 10px;
}

.ttt-settings-option[data-selected]{
    background-color: darkcyan;
}

.ttt-settings-apply{
    background: lightgray;
    width: 10vw;
    padding: 0.5vw;
    font-size: 2vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.ttt-result-label, .ttt-result-value{
    font-size: 2vw;
    display: inline-block;
    width: 5vw;
    padding: 0.5vw;
    margin: 5px;
}

.ttt-result-label{
    background-color: lightgray;
}

.ttt-result-value{
    text-align: center;
    background-color: darkcyan;
}

.ttt-result{
    margin-bottom: 10px;
}