#board {
    clear: both;
    position: relative;
}

#about {
    clear: both;
    float: right;
    color: gray;
    margin-top: 1rem;
}

#about a {
    font-weight: bold;
    text-decoration: none;
}

#about a:hover {
    text-decoration: underline;
}