.ttt-settings-option {
    margin-top: 1em;
    float: left;
    user-select: none;
    margin-right: 1rem;
}

.ttt-settings-label {
    color: darkblue;
    font-weight: bold;
}

.ttt-settings-value {
    display: inline-block;
    width: 4.7em;
    padding: 0.5em 0;
    margin: 0.3em;
    background-color: lightgray;
    text-align: center;
    cursor: pointer;
    box-shadow: 3px 3px 20px gray;
}

.ttt-settings-value[data-selected] {
    background-color: lightblue;
}

.ttt-settings-value:hover {
    color: white;
}